:root {
    --dark-grey: #363636;
    --light-grey: #eee;
}

* {
    color: var(--dark-grey);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
}

#conferences {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: rgb(180, 135, 196);
    background-color: #2d1f66;
    background-image: linear-gradient(315deg, #2d1f66 0%, #0f0218, 94%);
}

.conf-container {
    padding: 2rem;
    padding-bottom: 400px;
    margin: 0 auto;
    max-width: 800px;
}

.top-section {
    text-align: center;
    padding: 4rem 0;
    max-width: 600px;
    margin: 0 auto;
}

.timeline {
    position: relative;
    min-height: 150px;
}

.line {
    position: absolute;
    z-index: 2;
    left: calc(50% - 1px);
    width: 2px;
    top: -50px;
    bottom: -50px;
    background-color: #000;
    display: none;
}

.line::before, .line::after {
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #000;
    left: 50%;
    transform: translateX(-50%);
}

.line::after {
    bottom: 0;
}

.conf-section {
    display: flex;
    opacity: 0;
    transform: translateX(-100%);
    transition: 600ms ease;
    position: relative;
    z-index: 1;
    margin: 50px 0;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    min-height: 300px;
}

.conf-section:nth-child(odd) {
    flex-direction: row-reverse;
    transform: translateX(100%);
}

.bead {
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #000;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}

.conf-content {
    width: calc(50% - 2rem);
    color: white;
}

.conf-content h2, .conf-content p, .conf-container h1, .conf-container p, .conf-title h2, .conf-title p {
    color: rgb(197, 168, 205);
}

.show-me:nth-child(n) {
    transform: none;
    opacity: 1;
}