* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
}


/* Navbar/header */

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
}

nav .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 10px;
}

nav .navbar .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .navbar .header #warcon-logo {
    width: 60px;
    height: 60px;
    display: block;
}

nav .navbar .header .page-title {
    padding: 0 15px;
    font-size: 2.2rem;
    font-weight: 600;
    opacity: 1;
    transition: opacity 0.5s;
    
}

nav .navbar .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
 
nav .navbar li {
    list-style: none;
    margin: 0 15px;
}

nav .navbar .nav-link {
    font-weight: 400;
    text-decoration: none;
}


/* Sections */

.container {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.container section {
    height: 100%;
    scroll-snap-align: start;
    display: flex;
    padding: 60px;
}


#home {
    background-image: url("../img/zigzag.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    align-items: center;
}

#about {
    background: #fff;
}

#conferences {
    background: #eee;
}

#team {
    background: #fff;
}

#contact {
    background: #161616;
}


/* Text */

h1 {
    font-size: 3rem;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 300;
}

.white {
    color: #fff;
}

.dark {
    color: #363636;
}


/* Others */

#join-btn {
    margin-top: 15px;
    padding: 5px;
    width: 80px;
    color: #000;
    mix-blend-mode: screen;
    background: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

#copyright {
    color: #fff;
    position: absolute;
    bottom: 0.5vh;
    left: 0.5vh;
}

.hide {
    opacity: 0 !important;
}