:root {
    --dark-grey: #363636;
    --light-grey: #eee;
}


* {
    color: var(--dark-grey);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
}


/* WarCon logo */

.logo {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    z-index: 100;
}

.logo img {
    width: 60px;
    height: 60px;
    display: block;
    transition: opacity 0.5s;
}

#logo-dark {
    position: absolute;
    top: 0;
    right: 0;
}


/* Navigation menu */

#nav-menu {
    position: fixed;
    right: 0;
    margin: 10px;
    z-index: 100;
}

#nav-dropdown {
    max-height: 0;
    min-width: 160px;
    position: absolute;
    right: 0;
    margin-top: 40px;
    float: right;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.nav-link {
    font-size: 1rem;
    font-weight: 400;
    background: var(--light-grey);
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    float: right;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.nav-link[type="button"] {
    margin-top: 0;
}

.nav-link:hover {
    color: inherit;
    background: #ccc;
}

.active {
    color: #fff;
    background: var(--dark-grey);
}


/* Sections */

.container {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.container section {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    scroll-snap-align: start;
}

.page-title {
    height: 10%;
    min-width: 100%;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

.page-content {
    height: 70%;
    min-width: 100%;
    position: relative;
}

#home {
    align-items: center;
    justify-content: left;
    text-align: left;
    background-image: url("../img/zigzag.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home div {
    padding: 60px;
}


/* About section */

#about {
    background: #fff;
}

#about .about-container {
    height: 80%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#about .about-container .column {
    float: left;
    height: 100%;
    width: 20%;
}

#about .about-icon {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#about .about-icon i {
    font-size: 5rem;
    color: #666666;
    text-shadow: 1px 1px 5px #888888;
}

#about .about-description {
    height: 70%;
    width: 100%;
    text-align: center;
    padding: 20px;
}

#about .about-description p {
    font-weight: 400;
}


/* Conferences section */

/* #conferences {
    background: var(--light-grey);
} */



/* Team section */

#team {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#team::before {
    content: '';
    position: absolute;
    height: 100vh;
    width: 100%;
    background: var(--light-grey);
    clip-path: inset(49% 0 0 0);
    z-index: -1;
}

.team-container {
    overflow: hidden;
    padding: 80px 0;
}

.team-container .main-card {
    width: 46vw;
    display: block;
    justify-content: center;
    margin-inline-start: 3em;
    transition: all 1s ease;
}

#two:checked ~ .main-card {
    margin-left: -109%;
}

#three:checked ~ .main-card {
    margin-left: -220.5%;
}

#four:checked ~ .main-card {
    margin-left: -331.7%;
}

#five:checked ~ .main-card {
    margin-left: -443.5%;
}

#six:checked ~ .main-card {
    width: 75vw;
    margin-left: -337.8%;
}

#seven:checked ~ .main-card {
    margin-left: -722%;
}

#eight:checked ~ .main-card {
    margin-left: -833.4%;
}

#nine:checked ~ .main-card {
    width: 25vw;
    margin-left: -1730.5%;
}

.main-card .cards {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 10px 0;
    gap: 6em;
}

.main-card .cards .card {
    background: var(--light-grey);
    width: 80vw;
    padding: 50px;
    border-radius: 12px;
    transition: all 1s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.main-card .cards .card:hover {
    transform: translateY(-10px);
}
 
.cards .card .content {
    width: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards .card .content .img {
    height: 150px;
    width: 150px;
    margin-bottom: 14px;
    background: var(--dark-grey);
    border-radius: 15%;
    padding: 3px;
}

.card .content .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15%;
    background: #fff;
    border: 3px solid #fff;
}

.card .content .details .name {
    font-size: 20px;
    font-weight: 600;
}

.card .content .details .job {
    font-size: 15px;
}

.card .content .media-icons {
    display: flex;
    margin-top: 10px;
}

.card .content .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    background: var(--dark-grey);
    margin: 0 4px;
    border-radius: 15%;
    text-align: center;
    line-height: 33px;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}

.content .media-icons a:hover {
    border-color: var(--dark-grey);
    color: var(--dark-grey);
    background: rgb(163, 163, 163);
}

.button {
    display: flex;
    margin: 20px;
    justify-content: center;
}

.button label {
    height: 15px;
    width: 15px;
    background: #fff;
    margin: 0 4px;
    border-radius: 15px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.button label.active {
    width: 35px;
}

#one:checked ~ .button label.one {
    width: 35px;
}

#two:checked ~ .button label.two {
    width: 35px;
}

#three:checked ~ .button label.three {
    width: 35px;
}

#four:checked ~ .button label.four {
    width: 35px;
}

#five:checked ~ .button label.five {
    width: 35px;
}

#six:checked ~ .button label.six {
    width: 35px;
}

#seven:checked ~ .button label.seven {
    width: 35px;
}

#eight:checked ~ .button label.eight {
    width: 35px;
}

#nine:checked ~ .button label.nine {
    width: 35px;
}

#nine:checked ~ .button label.eight {
    width: 15px;
}

#eight:checked ~ .button label.seven {
    width: 15px;
}

#seven:checked ~ .button label.six {
    width: 15px;
}

#six:checked ~ .button label.five {
    width: 15px;
}

#five:checked ~ .button label.four {
    width: 15px;
}

#four:checked ~ .button label.three {
    width: 15px;
}

#three:checked ~ .button label.two, .button label.one {
    width: 15px;
}

#two:checked ~ .button label.one {
    width: 15px;
}

#one:checked ~ .button label.two {
    width: 15px;
}

input[type="radio"] {
    display: none;
}

@media (max-width: 500px) {

    .team-container .main-card {
        width: 70vw;
        margin-inline-start: 0em;
        transition: all 1s ease;
    }

    .main-card .cards {
        gap: 2em;
    }

    .main-card .cards .card {
        width: 80VW;
        margin: 10px 0 10px 0;
    }

    .cards .card .content .img {
        height: 100px;
        width: 100px;
        margin-bottom: 14px;
        background: var(--dark-grey);
    }

    .card .content .img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        background: #fff;
    }

    #two:checked ~ .main-card {
        margin-left: -109%;
    }
    
    #three:checked ~ .main-card {
        margin-left: -219.5%;
    }
    
    #four:checked ~ .main-card {
        margin-left: -329.7%;
    }
    
    #five:checked ~ .main-card {
        margin-left: -438.5%;
    }
    
    #six:checked ~ .main-card {
        width: 100vw;
        margin-left: -388.8%;
    }
    
    #seven:checked ~ .main-card {
        margin-left: -713.3%;
    }
    
    #eight:checked ~ .main-card {
        margin-left: -823.4%;
    }
    
    #nine:checked ~ .main-card {
        width: 1vw;
        margin-left: -1203.5%;
    }
    
}


/* Contact section */

#contact {
    background: #fff;
}

#contact .join-banner {
    min-width: 100%;
    height: 45%;
    position: relative;
    padding: 120px 40px;
    background-image: url("../img/conference.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
}

#contact .join-banner-text {
    position: relative;
}

#contact .overlay {
    background: #030215;
    opacity: 0.7;
    min-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

#contact .page-content {
    height: 55%;
    padding-top: 40px;
}

#contact .page-content .subtitle {
    margin: 10px;
}

#contact li {
    list-style: none;
    display: inline;
    margin: 10px;
}

#contact .social-link {
    color: var(--dark-grey);
    font-size: 2rem;
    text-decoration: none;
}

#contact .social-link i {
    transition: all 0.5s ease;
}

#contact #copyright {
    color: var(--dark-grey);
    position: absolute;
    margin-left: 10px;
    bottom: 0.5vh;
    left: 0.5vh;
    transition: opacity 0.5s;
}


/* Text */

h1 {
    font-size: 3rem;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  

h2 {
    color: var(--dark-grey);
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 5px;
}

.white {
    color: #fff;
}

.dark {
    color: var(--dark-grey);
}


/* Others */

.hidden {
    opacity: 0 !important;
}

.join-btn {
    margin-top: 15px;
    padding: 5px;
    width: 80px;
    background: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.join-btn:hover,
.social-link i:hover {
    transform: translateY(-5px);
}
